<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.gofocus.wxshop.main.generate.Goods" alias="Goods"/>
        <typeAlias type="com.gofocus.wxshop.main.generate.Shop" alias="Shop"/>
        <typeAlias type="com.gofocus.wxshop.main.entity.ShoppingCartData" alias="ShoppingCartData"/>
        <typeAlias type="com.gofocus.wxshop.main.entity.ShoppingCartGoods" alias="ShoppingCartGoods"/>
    </typeAliases>
    <mappers>
        <!--        <mapper resource="db/mybatis/mappers/UserMapper.xml"/>-->
    </mappers>
</configuration>
