<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gofocus.wxshop.dao.ShoppingCartDao">

    <resultMap id="shoppingCartShopMap" type="ShoppingCartData">
        <id property="shop.id" column="SHOP_ID"/>
        <result property="shop.name" column="SHOP_NAME"/>
        <result property="shop.description" column="SHOP_DESCRIPTION"/>
        <result property="shop.imgUrl" column="SHOP_IMG_URL"/>
        <result property="shop.ownerUserId" column="SHOP_OWNER_USER_ID"/>
        <result property="shop.createdAt" column="SHOP_CREATED_AT"/>
        <result property="shop.updatedAt" column="SHOP_UPDATED_AT"/>
        <collection property="goods" ofType="ShoppingCartGoods">
            <id property="id" column="GOODS_ID"/>
            <result property="name" column="GOODS_NAME"/>
            <result property="description" column="GOODS_DESCRIPTION"/>
            <result property="details" column="GOODS_DETAILS"/>
            <result property="imgUrl" column="GOODS_IMG_URL"/>
            <result property="price" column="GOODS_PRICE"/>
            <result property="number" column="GOODS_NUMBER"/>
            <result property="createdAt" column="GOODS_CREATED_AT"/>
            <result property="updatedAt" column="GOODS_UPDATED_AT"/>
        </collection>
    </resultMap>


    <select id="countHowManyShopInUserShoppingCart" parameterType="long" resultType="int">
        select count(distinct SHOP_ID) count
        from SHOPPING_CART
        where USER_ID = #{userId}
          AND STATUS = 'ok'
    </select>

    <select id="selectShoppingCartDataByUserId" parameterType="map" resultMap="shoppingCartShopMap">
        SELECT SHOP.ID AS SHOP_ID,
        SHOP.NAME AS SHOP_NAME,
        SHOP.DESCRIPTION AS SHOP_DESCRIPTION,
        SHOP.IMG_URL AS SHOP_IMG_URL,
        SHOP.OWNER_USER_ID AS SHOP_OWNER_USER_ID,
        SHOP.CREATED_AT AS SHOP_CREATED_AT,
        SHOP.UPDATED_AT AS SHOP_UPDATED_AT,
        GOODS.ID AS GOODS_ID,
        GOODS.NAME AS GOODS_NAME,
        GOODS.DESCRIPTION AS GOODS_DESCRIPTION,
        GOODS.DETAILS AS GOODS_DETAILS,
        GOODS.IMG_URL AS GOODS_IMG_URL,
        GOODS.PRICE AS GOODS_PRICE,
        SHOPPING_CART.NUMBER AS GOODS_NUMBER,
        GOODS.CREATED_AT AS GOODS_CREATED_AT,
        GOODS.UPDATED_AT AS GOODS_UPDATED_AT
        FROM
        (SELECT DISTINCT SHOP_ID
        FROM SHOPPING_CART
        <where>
            USER_ID = #{userId}
            <if test="status != null">
                AND STATUS = #{status}
            </if>
        </where>
        limit #{offSet},#{limit}
        ) AS t1
        JOIN SHOPPING_CART on t1.SHOP_ID = SHOPPING_CART.SHOP_ID
        JOIN GOODS on GOODS.ID = SHOPPING_CART.GOODS_ID
        JOIN SHOP on SHOP.ID = SHOPPING_CART.SHOP_ID
        WHERE SHOPPING_CART.STATUS = 'ok'
    </select>


</mapper>
